html {
  background-image: url("https://play-lh.googleusercontent.com/VSwHQjcAttxsLE47RuS4PqpC4LT7lCoSjE7Hx5AW_yCxtDvcnsHHvm5CTuL5BPN-uRTP");
  background-size: cover;
}
body {
  text-align: center;
}

.nav a {
  margin: 0px 25px;
}

.gray {
  color: white;
}
